article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 15px "Montserrat";
    line-height: 1.4em;
    width:50%;
    margin:0px auto;
    max-width:900px;
}

h1 {
    font-size:3em;
    margin-top:60px;
    margin-bottom:40px;
}

p {
    margin-bottom:30px;
    line-height:180%;
    font-size:15px;
    word-spacing:2px;
}

img.imgSmall {
    width:100%;
    cursor:-webkit-zoom-in!important;
    cursor:-moz-zoom-in!important;
    cursor:url("cur/zoomin.cur"),pointer;
    margin:0px 0px 30px 0px;
}

img.imgLarge {
    position: fixed;
    background:#fff;
    top:0;
    left: 0%;
    right:0;
    margin:0 auto!important;
    display: inline-block;
    vertical-align: middle;
    width:70%;
	padding:1em;
    max-width:1000px;
    height:auto;
    cursor:-webkit-zoom-out!important;
    cursor:-moz-zoom-out!important;
    cursor:url("cur/zoomout.cur"),pointer;
    background:#fff;
}

.link {
    color:black;
    border-bottom:1px solid black;
}

/* small */
@media (max-width: 480px) {
    body {
        width:90%;
    }
    
    .imgLarge {
        position:fixed;
        left:-50%;
        min-width:480px; 
    }
}

/* tablet */
@media (max-width: 800px) {
    body {
        width:80%; 
    }
    
    .imgLarge {
        position:fixed;
        left:-20%;
        max-width:800px; 
    }
}

/* small desktop */
@media (min-width: 800px) and (max-width: 1100px) {
    body {
        width:60%;
    }
    
    .imgLarge {
        position:fixed;
        left:0%;
        max-width:1100px; 
    }
}